::-webkit-scrollbar{
    background-color: rgba(216, 213, 213, 0.74);
    border-radius: 18px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
  
  
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: rgba(90, 89, 89, 0.842);
    border-radius: 6px;
  
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #5f5f5f; 
  }

.wallpaper{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    /* background-attachment:fixed; */
    z-index: -2;
 width:100%;
 height: 120%;
 /* background-position-y:4px ; */
 position:fixed;
 scroll-behavior: smooth;
 /* background-color: red; */
}

body{
    margin:0px; 
    user-select: none;
    /* width:100%; */
    /* background-repeat:no-repeat;
    background-size:cover;
    background-position:center; */
    /* background-attachment:fixed; */
    scroll-behavior :smooth; 
    
}



.landmenu
   {z-index: 10;
    position: relative;
    display: flex;
    width:100%;
    height: 63px;
    max-height:fit-content;
    background-color: rgba(255, 255, 255, 0.37);
    z-index: 4;
}


.nameOfLand{
    position: relative;
    display: block;
    margin:auto;
    left: 2%;
    font-size:55px;
    font-family:chiller;
    width:fit-content;
}

.nameOfLandimg{
    position: relative;
    top: 4px;
    left:5%;
    width: 50px;
    height: 50px;
}

.normalvillagelogo{
    height:50px;
    margin-top: 5px;
   }
   
   .hotwaterlogo{
     height:45px;
     width: 65px;
     margin-top: 5px;
   }
   
   .rainlogo{
       height:50px;
      }
   
   .grasslogo{
     height:50px;
   }
   
   .mistlogo{
     height:48px;
     margin-top: 5px;
   }
   
   .villageslogo{
     height:50px;
     margin-top: 5px;
    
   }
   
   .villageslandlogo{
     height:50px;
     margin-top: 5px;
    
   }
   
   .landlogo{
     height:50px; 
     margin-top: 5px;
   }

.LobjectFrame{
    position: absolute;
    top: 4px;
    margin-left:68%;
    width:230px;
    height: 440px;
}

.map{
    float: right;
    height:63px;
}   


.iframecover{
    display:none;
    width:100%;
    z-index: 0;
    top:0px;
    /* background-color: black; */
    right:0px;
    height: 100%;
    position:fixed;
    z-index: 1;
}


.smallsizesearch{
    z-index: 4;
    display: none;
    margin: auto;
    margin-top: 0px;
    width: 220px;
    height:50px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.37);
}


.smallsizesearch iframe{
    width:228px;
    height: 440px;
}

#searcherror{
    background-color: aliceblue;
    box-shadow: 0px 0px 8px;
position: absolute;
display: none;
justify-content: center;
align-items: center;
height: 200px;
width:55%;
top:19%;
left: 0px;
right:0px;
 z-index: 0; 
 margin:auto;
}


/* list of character to be displayed */

.characterdisplay{
    /* background-color: #5f5f5f; */
    position:absolute;
    height:1240px;
    z-index:2;
    right:0px; 
    /* background-color: black; */
    width: fit-content; 
}

#characterlistAOcontainer{
    width:100vm;
    position: sticky;
    top:75px;
    z-index:1;
}

.characterlistO{
    cursor:pointer;
    background-image: url("../iconcharacter.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 85px;
    height: 95px;
    float:right;
}


.characterposition{
    width:100vm;
    position: sticky;
    top:0px;
    right:0px;
    z-index: 1;
}



.landmem{
    background-color: #5f5f5f;
    position: absolute;
    top:0px;
    right: 0px;
    width:418px;
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 0;
    height: 612px;
    animation:listsid 0.5s linear;
    box-shadow:2px 2px 10px;
    animation-fill-mode: forwards;
}





.landmems{
    position: absolute;
    top:0px;
    right: 0px;
    width:418px;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 612px;
    z-index: 0;
    animation:listsidin 0.5s linear;
    box-shadow: 2px 2px 10px;
    animation-fill-mode: forwards;
}

@keyframes listsid{
    from{width:0px;}
    to{width:400px;}
}

@keyframes listsidin{
    from{width:400px;}
    to{width:0px;}
}


.characterlistA{
    top:85px; 
    position:absolute;
    z-index: 1; 
    right: 4px; 
    font-family: sans-serif; 
    text-decoration: none; 
    color:yellow;
    width:40px; 
    height: 35px;
    text-align: center;  
    border-radius: 50%; 
    opacity:50%; 
}

.characterlistA:hover{
    transition-duration:0.21s;
    cursor:pointer;
    opacity: 100%;
}


.titlecharacterlist{
    position:relative;
    background-color:white;
    color:darkblue;
    border:0px;
    box-shadow:0px 0px 4px black;
    height:50px;
    width:418px;
}


.listofcharacterwrap{
    box-shadow:0px 0px 4px black;
    top: 32px;
    background-color:white;
    height:570px;
    overflow-y: scroll;
    width:418px;
    z-index: -1;
    position:absolute;
    top:50px;
    display: block;
}



.link{
    display: flex;
    box-shadow:0px 0px 4px black;
    height:150px;
    width:400px;
}


.link:hover{
    background-color: #d1cece;
}
 
.ahreStuff{
    text-decoration:none;
    cursor: context-menu;
}


.imageId{
    position: relative;
    width:200px;
}


.imageH4{
    /* position: relative; */
    width:35%;
    text-align: left;
   padding-left:10%;
   padding-top: 10%;
   
}



/* first page */

.firstpage{
    position:relative;
    width: 100%;
    height:560px;
    z-index: -1;
}

.firstpage1{
    position:relative;
    width: 100%;
    height:560px;
    padding-bottom: 259px;
    margin: auto;
    z-index: -1;
}



.introinfo{
    position:relative;
    box-shadow:2px 2px 8px;
    background-color:rgba(0, 0, 0, 0.726);
    margin:auto;
    padding: 25px;
    top:145px;
    width:575px;
    height:fit-content;
    margin-bottom: 145px;
}
.introinfoP{
    text-align:left; font-size: 29px; 
}


/* second page */
.secondpage{
    position:static;
    width:100%;
    height:780px;
background-position: center;
    background-size: cover; 
}

.hiddenvillagewrap{
    position:relative;
    padding: 20px;
    width:83%;
    top: 282px; height:145px;
    display:block;
    height:fit-content;
    margin:auto;
    background-color:rgba(255, 255, 255, 0.534);
}

.hiddenvillagep{
    text-align:justify;
    font-size: 24px;
    position: relative;
}

.hiddenvillagep1{
    padding-top:12px;
    padding-left:8px;
    width:75%;
    text-align: left;
    padding-top:15%;
    margin: auto;
    font-size: 24px;
    position: relative;
}



/* third page */
.thirdpage{
    width:100%;
    height:640px;
}

.thirdpage1{
    width:100%;
    height:640px;
    background-color:rgb(141, 51, 224);
}


.thirdpageline{
    position: relative;
    width: 100%;
    height: 20px;
}

.thirdpagetitle{
    position: absolute;
    color:white;
    padding-top: 7px;
    margin-top:-42px;
    width:fit-content;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    height:35px;
    border-radius: 9px
}

.thirdpagetitle p{
    font-size: 25px;
    margin-top: -4px;
}


.clansbutton{
    border: solid grey 0.1px;
    background-position:center;
    background-repeat: no-repeat;
    float: right;
    background-size:50px;
    cursor: pointer;
    width:70px;
    height:70px;
}

.clanbutton{
    margin:auto;
    width:70px;
    height:70px;
}


.landDIV{
    position:absolute;
    z-index:2;
    display: block;
    margin-top:65px;
    right:0%;
}

.landDIV1{
    position:absolute;
    z-index:2;
    left: 50%;
    margin-top:32px;
}

.slideimages{
    background-color: #5f5f5f;
    position:absolute;
    width:100%;
    height:620px;
    text-align: left;
    margin:auto;
    background-size:cover;
    background-position: 42%;
}

.slideimages{
    background-color: #5f5f5f;
    position:absolute;
    width:100%;
    height:620px;
    text-align: left;
    margin:auto;
    background-size:cover;
    background-position: 42%;
}



.slideimagename{
    margin-top: 275px; position: relative; font-size:35px;
}

.clanname{
    cursor: pointer;
}

.slideimagename span{
    border-radius:0px 4px 4px 0px;
    background-color: white;
    padding:0.5%;
    font-size:32px;
    
}

.handpointed{
    left:12%; width:54px; position: relative; margin-top:310px;
    animation:upanddown 0.5s alternate infinite;
}

@keyframes upanddown{

    to{
        margin-top:335px;
    }
}




.noclan1{
background-color: rgb(255, 145, 0); position:relative; width:50%; top:25%; height:50%; margin: auto; box-shadow: 1px 1px 8px; text-align: center;
}


/* footer */

.footer{
    position: static;
    font-size:12px;
    color: antiquewhite;
    width:100%;
    /* display:block; */
    padding-top: 45px;

    height:175px ;
    background-color:rgb(32, 32, 32);
}

.footer1{
    position: relative;
    font-size:12px;
    color: antiquewhite;
    width:100%;
    margin-top: 100vh;
    /* display:block; */
    padding-top: 45px;
    height:175px ;
    background-color:rgb(32, 32, 32);
}

.pcontainer{
    display:block; margin:auto;  width:354px;
}


.pcontainer p{
    text-align: justify;
}

.icon{
    width:119px;
    height: 54px;
    display:block;
    margin:auto;
}

.icon img{
    width:30px;
}

.footercopyright{
    display:block;
    margin:auto;
    position:relative;
    top:5px;
}

hr{
    width:325px;
    border: solid gray 0.1px;
}

.footercopyright p{
    text-align: center;
}

@media  screen and (max-width: 1090px) {

    .landDIV{
        display: block;
        width: 195px;
        margin-top:35px;
        right: 0px;
    }



    @media  screen and (max-width: 960px) {

        .smallsizesearch{
            display: block;
            z-index: 0;
        }

        .LobjectFrame{
            z-index: 0;
            display: none;
        }

        .characterdisplay{
            top:64px;
            position:absolute;
            right:0px;
        }



        @media  screen and (max-width: 560px) {
            
        .introinfo{
            width:398px;
        }
            @media  screen and (max-width: 482px) {


                .landmenu{
                    z-index: 0;

                }


                .landmems{
                    background-color: white;
                    top:0px;
                    position: fixed;
                    width:400px;
                    z-index:110;
                    height: 100vh;
                }

                .landmem{
                    background-color: white;
                    top:0px;
                    position: fixed;
                    width:400px;
                    z-index: 118;
                    height: 100vh;
                }


                .listofcharacterwrap{
                    width:400px;
                    height: 100%;
                    overflow: scroll;
                    background-color: white;
                }

                .link{
                    width: 100%;
                }


                .landDIV{
                    position:absolute;
                    z-index:2;
                    display: block;
                    margin-top:65px;
                    width: 140px;
                    right:0%;
                }



.link:hover{
    background-color: #d1cece;
}



                .clansbutton{
                    width:80px;
                    height:50px;
                }


                .landnamespan{
                    display: none;
                }

                .introinfo{
                    width:fit-content;
                }
                .introinfoP{
                    font-size:120%;
                }

                .pcontainer{
                    width:154px;
                }

                hr{
                    width:95%;
                }

                .smallsizesearch{
                    position: absolute;
                    right:80px;

                }

                .hiddenvillagewrap{
                    top:240px;
                    width:fit-content;
                }

                .hiddenvillagep{
                    font-size:120%;
                }

                .pcontainer{
                    width:90%;

                }



                @media  screen and (max-width: 210px) {
                    .introinfo{
                        padding:5px;
                        top: 0px;
                        width:fit-content;
                    }
                    .introinfoP{
                        font-size:145%;
                    }


                    .slideimagename{
                        font-size: 20px;
                    }

                    .introinfoP::after { 
                        content: ".....";
                    }

                    .pcontainer{
                        width:95%;
                        font-size:50%;
                    }

                    .footer{
                        height:125px;
                    }

                    hr{
                        width:95%;
                    }

                    .footercopyright{
                        font-size:50%;
                    }

                    .hiddenvillagewrap{
                        padding:5px;
                        top:245px;
                        width:fit-content;
                    }

                    .hiddenvillagep{
                        font-size:115%;
                    }

                    .introinfospan{
                        display:none;
                    }

                    .hiddenvillagespan{
                        display:none;
                    }

                }
            }
        }

    }

}

a{text-decoration: none;}